body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
#browse-menu a#browse-b {
    background-color: #6ab446;
    border-color: #6ab446;
}
.carousel {
    width: 50%;
    margin: auto;
    display: block;
}

.features .row {
    padding-top:12px; 
    padding-bottom: 12px;
}

.features .row .col-lg-4 .card .card-body .btn {
    color:#000;
    background-color: #0bcf04;
    border-color: #0bcf04;
}

.features .row .col-lg-4 .card:hover {
    box-shadow: 4px 4px 13px #b36bd4;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn {
    color:#000;
    background-color: #0bcf04;
    border-color: #0bcf04;
}

.navbar .navbar-collapse .navbar-nav .nav-item .btn:focus {
    box-shadow: none;
}

.card-body .btn-primary {
    color:#000;
    background-color: #0bcf04;
    border-color: #0bcf04;
}

iframe {
    margin: auto;
    display: block;
}

.carousel .card-body {
    margin: auto;
    display: block;
}